body, html {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

    height: 100vh;

    background-color: rgb(12, 12, 12);
    color: rgb(240, 240, 240);

    font-family: Arial, Helvetica, sans-serif;
}

body button {
    background-color: wheat;

    border: 3px, thin, rgb(255, 221, 147);
    border-radius: 30px;

    width: 200px;
    height: 65px;
    min-height: 60px;
    padding: 0px 20px;

    font-size: 30px;
    font-weight: bold;

    transition: background-color 0.3s;
    transition: transform 0.5s;
}
body button:hover {
    background-color: rgb(231, 188, 109);

    transform: scale(1.05);
}
body button:active {
    background-color: rgb(233, 162, 30);
    
    transform: scale(0.95);
}

/* ESTILOS DE LA PANTALLA DE INICIO */
.main-screen {
    display: flex;
    flex-direction: column;

}
.main-screen.fade-in {
    opacity: 1;

    transition: opacity 1s ease;
}
.main-screen.fade-out {
    opacity: 0;

    transition: opacity 0.5s ease;
}

.main-title {
    margin-top: 0px;

    text-align: center;
    font-size: 120px;
}

.main-input-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}
.main-input-name-container input {
    height: 70px;
    width: 70%;

    padding: 10px;

    text-align: center;
    font-size: 50px;
    font-weight: bold;

    text-overflow: ellipsis;
}

/* ESTILOS DE LA PANTALLA DE BIENVENIDA */
.welcome-screen {
    opacity: 0;

    font-size: 35px;
}
.welcome-screen.fade-in {
    opacity: 1;

    transition: opacity 1s ease-in;
}
.welcome-screen.fade-out {
    opacity: 0;

    transition: opacity 0.5s ease-in-out;
}

/* ESTILOS DE LA PANTALLA DE SELECCION DE JUEGO */
.game-selection-screen {
    display: flex;
    flex-direction: row;

    gap: 30px;
}

.game-block-container {
    border: 5px solid;
    border-image: linear-gradient(90deg, rgb(255, 235, 120), rgb(255, 185, 33)) 1;
    overflow: hidden;
    
    padding: 2px;
}

.game-block {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border: 10px solid;
    border-image: linear-gradient(90deg, rgb(255, 235, 120), rgb(255, 185, 33)) 1;
    border-radius: 20px;
    overflow: hidden;

    background-color: rgb(228, 212, 184);

    width: 225px;
    height: 385px;
    min-width: 225px;
    min-height: 385px;

    padding: 10px;
    gap: 20px;
}
.game-block img {
    height: 45vh;

    min-width: 225px;
    min-height: 305px;


    object-fit: cover;
}
.game-block button {

    height: 70px;

    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 320px){
    .game-selection-screen {
        flex-direction: column;
    }
}


/* ESTILOS DE LA PANTALLA DE JUEGO DEL TRIVIA */
.trivia-screen {
    display: flex;
    flex-direction: column;

    color: black;

    width: 100%;
}
.trivia-screen p {
    margin-top: 0px;

    font-weight: bold;
}

.quiz-container {

    width: 100vh;

}

.question-container {
    background-color: rgb(255, 247, 214);
    border: 1px, solid, black;


    margin: 20px;
    padding: 20px;
}

.answers-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.trivia-button-container button{
    font-size: 18px;
}

.replay-button {
    float: right;
}